.post-back
  margin-bottom: 1rem
  
  .back-btn
    display: inline-flex
    align-items: center
    padding: .5rem 1rem
    background: var(--btn-bg)
    color: var(--btn-color)
    border: none
    border-radius: .5rem
    cursor: pointer
    transition: all .3s
    
    &:hover
      background: var(--btn-hover-color)
    
    i
      margin-right: .5rem
      font-size: 1rem 